.our-team { display: none;}
a.logo h3 {
    margin-top: -3px;
    color: #fff;
}
.feature i { font-size: 9em;}

.features{ height: 80vh; }
footer.main { min-height: 465px; }
.copyright { position: absolute; bottom: 0; width: 100%;}
