---
layout: default
templatename: blog
---
<header id="main-header">
    <nav id="header-nav">
        <!-- Add class "img" to the logo to use image instead of the text -->
        <h1 class="logo"><a href="index.html">Web Sentiments</a></h1>
        <div id="header-nav-container">
            <ul>
                <li class="current"><a href="/">Home</a></li>
                <li><a href="/">Features</a></li>
                <li><a href="/">Team</a></li>
                <li><a href="/">Testimonials</a></li>
                <li><a href="/">Usage</a></li>
                <li><a href="/">Subscribe</a></li>
                <li><a href="/">Contacts</a></li>
            </ul>
        </div>
        <a id="nav-trigger" href="#">Toggle Navigation</a>
    </nav>
</header>
<section id="article-list">
    <div class="container">
        {% for post in site.posts limit: 10  %}
        <article>
            <div class="heading">
                <a href="{{ post.url }}" class="">
                    <h2>{{ post.title }}</h2>
                </a>
                <div class="post-details">
                    {% if post.author %}
                    <span class="author">{{ post.author }}</span>
                    <span class="bullet">∙</span>
                    {% endif %}
                    <span class="date">{{ post.date | date_to_long_string }}</span>
                </div>
            </div>
            <div class="hero">
                <a href="{{ post.url }}">
                    {% if post.splash %}
                        {% if post.splash contains '://' %}
                        <img src="{{post.splash}}" />
                        {% else %}
                        <img src="{{site.base_path}}{{post.splash}}" />
                        {% endif %}
                    {% endif %}
                </a>
            </div>
            {%if post.summary %}
            <div class="summary">
                {{ post.summary | markdownify }}
            </div>
            {% else %}
                {% if post.content contains '<!--more-->' %}
                  {{ post.content | split:'<!--more-->' | first }}
                {% else %}
                  <p>
                  {{ post.content | strip_html | truncatewords:50 }}
                  </p>
                {% endif %}
            {% endif %}
            <div class="post-links">
                <a class="continue-reading zoom" href="{{ post.url }}">Continue reading</a>
            </div>
        </article>
        {% endfor %}
    </div>
</section>
