---
layout: default
templatename: post
---
<header id="main-header">
    <nav id="header-nav">
        <!-- Add class "img" to the logo to use image instead of the text -->
        <h1 class="logo"><a href="index.html">Web Sentiments</a></h1>
        <div id="header-nav-container">
            {% include header-nav.html %}
        </div>
        <a id="nav-trigger" href="#">Toggle Navigation</a>
    </nav>
</header>
<section id="article" class="blog">
    <div class="container">
        <article>
            <div class="heading">
                <a href="{{ page.url }}" class="">
                    <h1>{{ page.title }}</h1>
                </a>
                <div class="post-details">
                    {% if page.author %}
                    <span class="author">{{ page.author }}</span>
                    <span class="bullet">∙</span>
                    {% endif %}
                    <span class="date">{{ page.date | date_to_long_string }}</span>
                </div>
            </div>
            <div class="hero">
                <a href="{{ page.url }}">
                    {% if page.splash %}
                        {% if page.splash contains '://' %}
                        <img src="{{page.splash}}" />
                        {% else %}
                        <img src="{{site.base_path}}{{page.splash}}" />
                        {% endif %}
                    {% endif %}
                </a>
            </div>
            <div class="summary">
                {{ content }}
            </div>
        </article>
    </div>
</section>
